{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1>Регистрация</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">{{ form.username.label }}</label>
            <p>
            <div class="form-text">{{ form.username.help_text }}</div>
            <input class="form-control" type="text" name="username" required id="id_username">
            </p>
            <label class="form-label">{{ form.password1.label }}</label>
            <p>
            <div class="form-text">{{ form.password1.help_text }}</div>
            <input class="form-control" name="password1" type="password" autocomplete="new-password" required
                id="id_password1">
            </p>
            <label class="form-label">{{ form.password2.label }}</label>
            <p>
            <div class="form-text">{{ form.password2.help_text }}</div>
            <input class="form-control" name="password2" type="password" autocomplete="new-password" required
                id="id_password2">
            </p>
        </div>
        <button class="btn btn-secondary" type="submit">Регистрация</button>
    </form>
    <p class="text-center">Если уже есть аккаунт, <a href="/login">войдите</a>.</p>
</div>
{% endblock %}